<div class="centrar">
  <form class="container">
    <h1 appBgHeader class="w-100 py-4 text-center">{{titulo}}</h1>
    <div class="main row">
      <div class="input-group w-100 col">
        <input type="number" class="form-control col col-lg-12" placeholder="numero" [(ngModel)]="operandoA"
          name="operandoA">
        <input type="number" class="form-control col" placeholder="numero" [(ngModel)]="operandoB" name="operandoB">
      </div>
      <div appBgResultado id="resultado" class="resultado col">
        <p>{{resultado}}</p>
      </div>
    </div>
    <button type="submit" class="btn btn-success" id="btn" (click)="onSumar()">Calcular</button>
  </form>
</div>
